<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="log4net"     type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
</configSections>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\Ball.Dave\Documents\Visual Studio 2013\Projects\WindowsFormsApplication1\WindowsFormsApplication1\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Users\Ball.Dave\Documents\Visual Studio 2013\Projects\WindowsFormsApplication1\WindowsFormsApplication1\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <diagnostics wmiProviderEnabled="true">
            <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
            <endToEndTracing propagateActivity="false" activityTracing="false"
                messageFlowTracing="false" />
        </diagnostics>
   
        <bindings>
            <customBinding>
                <binding name="QueryUCRNServiceBinding1">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
                <binding name="coreSampleClassBinding1">
                    <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
                        messageProtectionOrder="EncryptBeforeSign" protectTokens="true"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="true">
                        <secureConversationBootstrap messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="coreSampleClassBinding2" />
                <binding name="RegisterViaNECCardServiceBinding">
                    <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
                        messageProtectionOrder="EncryptBeforeSign" protectTokens="true"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="true">
                        <secureConversationBootstrap messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="RegistrationServiceBinding">
                      <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
                        messageProtectionOrder="EncryptBeforeSign" protectTokens="true"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="true">
                        <secureConversationBootstrap messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="coreSampleClassBinding">
               <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="SymmetricKey" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="AcknowledgeNotificationServiceBinding">
                   <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="SymmetricKey" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="GetNotificationByIDServiceBinding">
                <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="SymmetricKey" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="RegisterOfflineServiceBinding">
                    <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="SymmetricKey" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="QueryUCRNServiceBinding">
                   <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="SymmetricKey" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="RegisterOfflineServiceBinding1">
                      <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="SymmetricKey" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="QueryUPRNServiceBinding">
                  <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="SymmetricKey" />
                    </security>
                    <httpsTransport />
                </binding>
                <binding name="QueryUPRNServiceBinding1">
                   <textMessageEncoding messageVersion="Soap11" />
                    <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
                        authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="SymmetricKey" />
                    </security>
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUCRNService"
                binding="customBinding" bindingConfiguration="QueryUCRNServiceBinding1"
                contract="QueryUCRN.QueryUCRNService" name="QueryUCRNServicePort" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/RegisterViaNECCardService"
                binding="customBinding" bindingConfiguration="RegisterViaNECCardServiceBinding"
                contract="RegisterViaNECCardService.RegisterViaNECCardService"
                name="RegisterViaNECCardServicePort" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/RegistrationService"
                binding="customBinding" bindingConfiguration="RegistrationServiceBinding"
                contract="RegistrationService.RegistrationService" name="RegistrationServicePort" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/Proxy/ESB_Proxy_Service"
                binding="customBinding" bindingConfiguration="coreSampleClassBinding"
                contract="WSETest.coreSampleClass" name="coreSampleClassPort" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/AcknowledgeNotificationService"
                binding="customBinding" bindingConfiguration="AcknowledgeNotificationServiceBinding"
                contract="AcknowledgeNotificationService.AcknowledgeNotificationService"
                name="AcknowledgeNotificationServicePort" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/GetNotificationByIDService"
                binding="customBinding" bindingConfiguration="GetNotificationByIDServiceBinding"
                contract="GetNorificationDetials.GetNotificationByIDService"
                name="GetNotificationByIDServicePort" />
            <endpoint address="https://213.128.252.7:8003/coreServices/coreSampleClass"
                behaviorConfiguration="CustomBehavior" binding="customBinding"
                bindingConfiguration="coreSampleClassBinding1" contract="ListNotifications.coreSampleClass"
                name="coreSampleClassPort1" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/RegisterOfflineService"
                behaviorConfiguration="CustomBehavior" binding="customBinding"
                bindingConfiguration="RegisterOfflineServiceBinding" contract="ServiceReference1.RegisterOfflineService"
                name="RegisterOfflineServicePort" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUCRNService"
                binding="customBinding" bindingConfiguration="QueryUCRNServiceBinding"
                contract="QueryUCRNService" name="QueryUCRNServicePort" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/RegisterOfflineService"
                binding="customBinding" bindingConfiguration="RegisterOfflineServiceBinding1"
                contract="RegisterOffLine.RegisterOfflineService" name="RegisterOfflineServicePort1" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUPRNService"
                   behaviorConfiguration="CustomBehavior"   binding="customBinding" bindingConfiguration="QueryUPRNServiceBinding"
                contract="QueryUPRNService.QueryUPRNService" name="QueryUPRNServicePort" />
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUPRNService"
               behaviorConfiguration="CustomBehavior"   binding="customBinding" bindingConfiguration="QueryUPRNServiceBinding1"
                contract="CAS.QueryUPRNService" name="QueryUPRNServicePort1" />
        </client>
    <behaviors>
        <endpointBehaviors>
            <behavior name="CustomBehavior">
                <clientCredentials>
                    <clientCertificate findValue="IS-JASIG-CAS" storeLocation="CurrentUser"
                        storeName="My" x509FindType="FindBySubjectName" />
                    <serviceCertificate>
                        <defaultCertificate findValue="213.128.252.7" storeLocation="CurrentUser"
                            storeName="CertificateAuthority" x509FindType="FindBySubjectName" />
                       
                    </serviceCertificate>
                </clientCredentials>
            </behavior>
        </endpointBehaviors>
    </behaviors>
      
      
    </system.serviceModel>
<log4net>
			<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
				  <file value="mylogfile.txt" />
				  <appendToFile value="true" />
				  <rollingStyle value="Size" />
				  <maxSizeRollBackups value="5" />
				  <maximumFileSize value="10MB" />
				  <staticLogFileName value="true" />
				  <layout type="log4net.Layout.PatternLayout">
				    <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
				  </layout>
			</appender>
			<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender"/>
			<root>
			  <level value="INFO"/>
			  <appender-ref ref="RollingFileAppender"/>
			  <appender-ref ref="ConsoleAppender" />
			</root>
</log4net>
</configuration>