<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="QueryUCRNServiceBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUCRNService"
          binding="customBinding" bindingConfiguration="QueryUCRNServiceBinding"
          contract="QueryUCRN.QueryUCRNService" name="QueryUCRNServicePort" />
    </client>
  </system.serviceModel>
</configuration>