<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ListSupportedCodesServiceBinding">
                    <textMessageEncoding messageVersion="Soap11" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://213.128.252.7:8003/configESB/http/common/ListSupportedCodesService"
                binding="customBinding" bindingConfiguration="ListSupportedCodesServiceBinding"
                contract="ListSupportedCodesService" name="ListSupportedCodesServicePort" />
        </client>
    </system.serviceModel>
</configuration>