<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
 <system.serviceModel>
 	<protocolMapping>
      <remove scheme="http" />
      <add scheme="https" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_IKFileWcfServiceBinding" />
    </protocolMapping>
  <bindings>
   <customBinding>
    <binding name="RegisterViaNECCardServiceBinding">
     <textMessageEncoding messageVersion="Soap11" />
    </binding>
    <binding name="RegistrationServiceBinding">
     <textMessageEncoding messageVersion="Soap11" />
    </binding>
    <binding name="QueryUCRNServiceBinding">
     <textMessageEncoding messageVersion="Soap11" />
    </binding>
     
    <binding name="QueryUPRNServiceBinding">
	<textMessageEncoding messageVersion="Soap11" />
    </binding>

    <binding name="SearchCitizenDetailsServiceBinding">
     <textMessageEncoding messageVersion="Soap11" />
    </binding>
    <binding name="ChangeAddressServiceBinding">
     <textMessageEncoding messageVersion="Soap11" />
    </binding>
    <binding name="ChangeConsentServiceBinding">
     <textMessageEncoding messageVersion="Soap11" />
    </binding>
    <binding name="ChangePersonalDetailsServiceBinding">
     <textMessageEncoding messageVersion="Soap11" />
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="https://213.128.252.7:8003/configESB/http/common/RegisterViaNECCardService"
    binding="customBinding" bindingConfiguration="RegisterViaNECCardServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.RegisterViaNECCard.RegisterViaNECCardService"
    name="RegisterViaNECCardServicePort" />
   <endpoint address="https://213.128.252.7:8003/configESB/http/common/RegistrationService"
    binding="customBinding" bindingConfiguration="RegistrationServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.Registration.RegistrationService"
    name="RegistrationServicePort" />
   <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUCRNService"
    binding="customBinding" bindingConfiguration="QueryUCRNServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.QueryUCRN.QueryUCRNService"
    name="QueryUCRNServicePort" />
   <!--<endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUPRNService"
    binding="wsHttpBinding" bindingConfiguration="QueryUPRNServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.QueryUPRN.QueryUPRNService"
    name="QueryUPRNServicePort" />-->
<endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUPRNService"
    binding="customBinding" bindingConfiguration="QueryUPRNServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.QueryUPRN.QueryUPRNService"
    name="QueryUPRNServicePort" />
   <endpoint address="https://213.128.252.7:8003/configESB/http/common/SearchCitizenDetailsService"
    binding="customBinding" bindingConfiguration="SearchCitizenDetailsServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.SearchCitizenDetails.SearchCitizenDetailsService"
    name="SearchCitizenDetailsServicePort" />
   <endpoint address="https://213.128.252.7:8003/configESB/http/common/ChangeAddressService"
    binding="customBinding" bindingConfiguration="ChangeAddressServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.ChangeAddress.ChangeAddressService"
    name="ChangeAddressServicePort" />
   <endpoint address="https://213.128.252.7:8003/configESB/http/common/ChangeConsentService"
    binding="customBinding" bindingConfiguration="ChangeConsentServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.ChangeConsent.ChangeConsentService"
    name="ChangeConsentServicePort" />
   <endpoint address="https://213.128.252.7:8003/configESB/http/common/ChangePersonalDetailsService"
    binding="customBinding" bindingConfiguration="ChangePersonalDetailsServiceBinding"
    contract="CASRefreshWebserviceSampleApplication.CAS.ChangePersonalDetails.ChangePersonalDetailsService"
    name="ChangePersonalDetailsServicePort" />
  </client>
 </system.serviceModel>
</configuration>