<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="coreSampleBehavior">
          <clientCredentials>
            <clientCertificate findValue="IS-JASIG-CAS" storeName="My"
                x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <defaultCertificate findValue="213.128.252.7" storeName="Root"
                  x509FindType="FindBySubjectName" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="coreSampleClassBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <security defaultAlgorithmSuite="Default" allowSerializedSigningTokenOnReply="true"
            authenticationMode="MutualCertificate" messageProtectionOrder="SignBeforeEncrypt"
            messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <issuedTokenParameters keyType="SymmetricKey" />
          </security>
          <httpsTransport />
        </binding>
        <binding name="coreSampleExample">
          <textMessageEncoding messageVersion="Soap11" />
          <security allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificate"
            messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <httpsTransport />
        </binding>
        <binding name="QueryUCRNServiceBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
        <binding name="QueryUCRNServiceBinding1">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
        <binding name="QueryUCRNServiceUnsignedBinding">
          <textMessageEncoding messageVersion="Soap11" />
        <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUCRNServiceUnsigned?wsdl "
        binding="customBinding" bindingConfiguration="QueryUCRNServiceBinding"
        contract="QueryUCRNService" name="QueryUCRNServicePort" />
      <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUCRNService"
        behaviorConfiguration="coreSampleBehavior" binding="customBinding"
        bindingConfiguration="coreSampleExample" contract="ServiceReference1.QueryUCRNService"
        name="QueryUCRNServicePort1" />
      <endpoint address="https://213.128.252.7:8003/configESB/http/common/QueryUCRNServiceUnsigned"
        binding="customBinding" bindingConfiguration="QueryUCRNServiceUnsignedBinding"
        contract="ServiceReference2.QueryUCRNServiceUnsigned" name="QueryUCRNServiceUnsignedPort" />
    </client>
  </system.serviceModel>
</configuration>